{{ ansible_managed | comment }}

[Unit]
Description=Victoria-metrics single node tsdb
After=network-online.target auditd.service

[Service]
Type=simple
User={{ victoriametrics_system_user }}
Group={{ victoriametrics_system_group }}
EnvironmentFile=-/etc/default/victoriametrics
ExecReload=/usr/bin/curl -s 127.0.0.1:8248/-/reload
ExecStart={{ victoriametrics_install_dir }}/victoriametrics -envflag.enable -envflag.prefix=VM_

SyslogIdentifier=victoriametrics
Restart=always
LimitNOFILE=infinity
ReadWriteDirectories={{ victoriametrics_storage_data_path }}

PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes

[Install]
WantedBy=multi-user.target
Alias=vm.service
